/*
Author: Smart Code Media
Project:  
Version:  1.0

==================

====================*/
/* 0. Vars
*************************************/
/* 1. Global Changes
*************************************/

/* 1. Global Changes
*************************************/
body {
  font-size: 14px;
  background: black;
}

i,
span {
  color: gold;
}

.navbar {
  opacity: 0.9;
}

.nav-item {
  border: 1px solid transparent;
}

.nav-item:hover {
  border: 1px solid yellow;
}

.social-icons {
  font-size: 18px;
  padding: 5px;
  color: red;
  transition: 2s;
}

.social-icons:hover {
  color: gold;
}

#showcase {
  color: white;
  background-image: url(../img/bg.jpg);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: right;
}

.carousel {
  min-height: 100vh;
}

.carousel-caption h3 {
  color: gold;
}

.carousel-item {
  height: 85vh;
}

.carousel-item h5 {
  font-size: 2.8rem;
}

.btn-primary {
  border: 1px solid gold;
  background: transparent;
}

.btn-primary: hover {
  border: 1px solid gold;
  background: rgba(231, 176, 41, 0, 3);
}

.heading-name {
  color: gold;
  padding: 20px;
}

.heading-name h6 {
  color: white;
}

.heading-primary h6 {
  color: white;
}

#about {
  background-image: url(../img/about-bg.jpg);
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

#about p {
  color: white;
}

#about h3 {
  color: gold;
}

.portfolio-menu {
  text-align: center;
}

.portfolio-menu ul li {
  display: inline-block;
  margin: 10px;
  color: gold;
  padding: 10px 15px;
  cursor: pointer;
}

.portfolio-menu ul li:hover {
  background: orange;
  color: white;
}

.portfolio-items img {
  border: 3px solid white;
  width: 270px;
  height: 270px;
  float: left;
}

#skills {
  background-image: url(../img/skills.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#skills h3 {
  color: gold;
  font-size: 18px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 3px 113px -3px gold;
}

.card {
  transition: 0.7s ease-in-out;
}

#subscribe {
  background-image: url(../img/news/news.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .navbar-nav {}
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.dark-blue-text {
  color: #0a38f5;
}

.dark-pink-text {
  color: #ac003a;
}

.dark-amber-text {
  color: #ff6f00;
}

.dark-teal-text {
  color: #004d40;
}